.App {
  box-sizing: border-box;
  scroll-behavior: "smooth";
  background: #fafafa;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  font-size: 50%;

  @media screen and (min-width: 768px) {
    font-size: 62.5%;
  }
}
